.projects-page-container {
  overflow: hidden;
}

.projects-header {
  text-align: center;
  margin-bottom: var(--padding-small);
}

.projects-title {
  font-size: var(--font-size-title);
}

.projects-subtitle {
  font-size: var(--font-size-subtitle);
}

@media (min-width:1300px) {

  .projects-page-container {
    padding-top: var(--padding-medium);
  }

  .projects-header {
    margin-bottom: var(--padding-big);
  }
}