.projects-page-container {
  padding-top: var(--padding-medium);
  overflow: hidden;

}

.projects-header {
  text-align: center;
  margin-bottom: var(--padding-small);
}

.projects-title {
  font-size: var(--phone-font-size-title);
}

.projects-subtitle {
  font-size: var(--phone-font-size-subtitle);
}

@media (min-width:851px) {
  .projects-title {
    font-size: var(--desktop-font-size-title);
  }

  .projects-subtitle {
    font-size: var(--desktop-font-size-subtitle);
  }

  .projects-header {
    margin-bottom: var(--padding-big);
  }
}