.pageContainer {
  overflow: hidden;
}

.header {
  text-align: center;
  margin-bottom: var(--padding-small);
}

.title {
  font-size: var(--font-size-title);
}

.subtitle {
  font-size: var(--font-size-subtitle);
}

@media (min-width:1300px) {
  .pageContainer {
    padding-top: var(--padding-medium);
  }

  .header {
    margin-bottom: var(--padding-big);
  }
}