.landing-page-container {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--color-background);

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%234b4b4b' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23212121' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%232a2a2a' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23505050' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%233f3f3f' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%232b2b2b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23222222' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23323232' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23282828' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23373737' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23191919' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23262626' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-position: 50%;
  background-size: cover;
}


.text-container {
  display: flex;
  margin: 0 1rem;
  flex-flow: column;
  font-size: var(--phone-font-size-subtitle);
  line-height: 1.2;
  align-items: flex-start;
}

.landing-title {
  font-size: var(--phone-font-size-title);
  font-weight: 600;
}

.middle-text {
  margin-left: 1rem;
  margin-bottom: 1.7rem;
}

.text-container a {
  display: inline-block;
}

.accent-btn {
  background-color: var(--color-accent);
  color: var(--color-text);
  font-size: 1.5rem;
  padding: .8rem;
  border: none;
  transform:  
    rotate(-5deg)
    skew(-8deg)
;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
}

.accent-btn:hover, .accent-btn:active, .accent-btn:focus {
  box-shadow: 6px 6px 0 var(--color-dark-accent);
  transform: 
    translate(-10px, -10px)
    skew(-8deg)
    rotate(-5deg);

}

.projects-btn-anchor {
  width: fit-content;
}


@media (min-width:851px) {
  .landing-title {
    font-size: var(--desktop-font-size-title);
  }

  .text-container {
    font-size: var(--desktop-font-size-subtitle);
    padding-left: 10rem;
  }

  .accent-btn {
    padding: 1.3rem;
  }
}