.pageContainer {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  background-color: var(--clr-gray-8);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%234b4b4b' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23212121' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%232a2a2a' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23505050' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%233f3f3f' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%232b2b2b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23222222' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23323232' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23282828' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23373737' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23191919' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23262626' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-position: 50%;
  background-size: cover;
  flex-grow: 1;
}

.textContainer {
  display: flex;
  margin: 0 var(--size-4);
  margin-top: var(--size-11);
  flex-flow: column;
  font-size: var(--size-6);
  line-height: 1.2;
  align-items: flex-start;
}

.title {
  font-size: var(--size-10);
  font-weight: 600;
}

.text {
  margin-left: var(--size-5);
  margin-bottom: var(--size-6);
}

.buttonContainer {
  width: fit-content;
}

@media (min-width: 800px) {
  .pageContainer {
    justify-content: flex-start;
  }
  .textContainer {
    font-size: var(--size-7);
    padding-left: var(--size-9);
  }
  .title {
    font-size: var(--size-12);
  }
}

@media (min-width: 1300px) {
  .pageContainer {
    min-height: 90vh;
  }
  .textContainer {
    font-size: var(--size-7);
    padding-left: var(--size-13);
  }
  .title {
    font-size: var(--size-13);
  }
}