:root {
  --color-background: #1F1F1F;
  --color-text: #DDD;
  --color-accent: #BF4080;
  --color-dark-accent: #8a2c5b;
  --height-header: 3em;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

body, h1, p {
  margin: 0;
  padding: 0;
}

.accent-text {
  color: var(--color-accent);
}
