:root {
  /*   --color-background: #181818;
  --color-light-background: #363636;
  # 141b21
  */
  --color-background: #18191A;
  --color-light-background: #272822;
  --color-phone-navbar: #24303b;
  --color-text: #F5F6F7;
  --color-dark-text: #c4c2cc;
  /* Gris claro: 84828F */
  /* SUNGLOW: FDCA40 */
  /* mmmm #66F6F1 */
  /* #BA8FFF */
  --color-accent: #f3004b;
/*   --color-accent: #66F6F1; */
  --color-dark-accent: #aa093c;


  --font-size-title: 3rem;
  --font-size-project-card-title: 3rem;
  --font-size-subtitle: 1.5rem;
  --font-size-details: 1.5rem;


  --font-size-navbar: 1.5rem;
  --padding-small: 1rem;
  --padding-big: 8rem;
  --padding-medium: 4rem;

}

@media (min-width: 350px) {
  :root {
    --font-size-title: 4rem;
    --font-size-project-card-title: 3.5rem;
    --font-size-subtitle: 1.5rem;
    --font-size-details: 1.1rem;
  }
}

@media (min-width: 1100px) {
  :root {
  --font-size-title: 5rem;
  --font-size-project-card-title: 4rem;
  --font-size-subtitle: 3rem;
  --font-size-details: 1.1rem;
  }
}

@media (min-width: 1400px) {
  :root {
  --font-size-title: 7rem;
  --font-size-project-card-title: 4rem;
  --font-size-subtitle: 3rem;
  --font-size-details: 1.3rem;
  }
}

@media (min-width: 1600px) {
  :root {
  --font-size-title: 7rem;
  --font-size-project-card-title: 5rem;
  --font-size-subtitle: 3rem;
  --font-size-details: 1.5rem;
  }
}


body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
}

.accent-text {
  color: var(--color-accent);
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

/* Mantiene el footer abajo de todo. */

.main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
